.HomepageContainer {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.HomepageTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

.HomepageTable {
    width: 100%;
    border-collapse: collapse;
}

.HomepageTable th, .HomepageTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.HomepageTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.HomepageTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
