.imgAddContainer {
    width: 50%;
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 150px;
}


.backButton {
    cursor: pointer;
    transition: font-size 0.3s, color 0.3s;
}

.backButton:hover {
    font-size: 24px;
    color: #007bff;
}