.user-info-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.user-info-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.user-info-content h3 {
    margin-bottom: 20px;
}

.user-info-content table {
    width: 100%;
}

.user-info-content table th {
    width: 30%;
    text-align: right;
    padding: 8px;
}

.user-info-content table td {
    padding: 8px;
}

.user-info-content button {
    margin-top: 20px;
}

/* CRUD_ImgUser.css */
.crud-user-container {
    max-width: 1200px;
    margin: 0 auto;
}

.table th, .table td {
    text-align: center; /* Căn giữa các chữ trong các ô */
    vertical-align: middle; /* Căn giữa các nội dung trong ô */
}


.table th:last-child, .table td:last-child {
    width: 200px; /* Độ rộng cố định cho cột Actions */
}


