.crudUserImgContainer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tableContainer {
    margin-top: 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    text-align: center;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.searchInput {
    margin-right: 10px;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.addButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 0.25rem;
    text-decoration: none;
}

.addButton:hover {
    background-color: #218838;
}

.icon {
    margin-right: 5px;
    vertical-align: middle;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;    
    justify-content: flex-end;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.viewMoreButton {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 5px;
}

.viewMoreButton:hover {
    background-color: #138496;
}

.expandedImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageWrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: rgb(255, 0, 0);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s, transform 0.2s;
}

.deleteButton:hover {
    background: darkred;
}

.noImageText {
    color: #dc3545;
    font-size: 14px;
    font-weight: bold;
    margin-left: 7px;
    margin-right: 15px;
}

.paginationContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pageItem {
    margin: 0 5px;
}

.pageLink {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    color: #007bff;
    text-decoration: none;
}

.pageLink:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.activeLink {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.tableHeader{
    text-align: center;
}