.addAttendanceContainer {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.backButton {
    cursor: pointer;
    transition: font-size 0.3s, color 0.3s;
    display: flex; 
    align-items: center;
    margin-bottom: 20px; 
}
  
.backButton:hover {
    font-size: 24px;
    color: #007bff;
}

.attendanceForm {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 20px;
}

.formControl {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.btnPrimary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btnPrimary:hover {
    background-color: #0056b3;
}

@media (max-width: 769px) {
    .addAttendanceContainer {
        width: 95%;
        margin: 20px auto;
        padding: 20px;
    }
    
    .formControl {
        padding: 10px;
    }
    
    .btnPrimary {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .addAttendanceContainer {
        width: 100%;
        margin: 20px auto;
        padding: 15px;
    }
    
    .backButton {
        font-size: 20px;
    }
    
    .formControl {
        padding: 8px;
    }
    
    .btnPrimary {
        padding: 10px;
        font-size: 14px;
    }
    
    h2 {
        font-size: 20px;
        text-align: center;
    }
}
