.crudAccountContainer {
  width: 90%;
  margin: 20px auto;
}

.tableContainer {
  max-height: 500px;
  overflow-y: auto;
}

.tableHeader {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
  text-align: center;
}

.searchInput {
  width: 200px;
  padding: 8px 15px;
  border: 1px solid #ced4da;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #24c74a;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableBody {
  text-align: center;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actionButton {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.editButton {
  background-color: #0056b3;
  color: #fff;
  border: 1px solid transparent;
}

.editButton:hover {
  background-color: #003f7f;
}

.deleteButton {
  background-color: #ff0000;
  color: #fff;
  border: 1px solid transparent;
}

.deleteButton:hover {
  background-color: #a71d2a;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  list-style-type: none;
  padding: 0;
}

.pageItem {
  margin: 0 2px;
}

.pageLink {
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.pageItem.active .pageLink {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pageLink.activeLink {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

@media (max-width: 769px) {
  .crudAccountContainer {
    width: 90%;
    margin: 10px auto;
  }

  .tableContainer {
    max-height: 500px;
    width: auto;
  }

  .searchInput {
    width: 150px; 
  }

  .addButton {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .table {
    font-size: 14px;
  }

  .actions {
    flex-direction: column;
    gap: 5px;
  }

  .actionButton{
  margin-left: 12px;
  }

  .editButton{
    width: 30px;
    padding: 2px;
  }

  .editButton span {
    display: none; 
  }
}

@media (max-width: 480px) {
  .crudAccountContainer {
    padding: 10px;
  }

  .searchInput {
    width: 100%;
    padding: 8px;
  }

  .addButton {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .table {
    font-size: 12px;
  }

  .tableContainer {
    overflow-x: auto; 
  }

  .actions {
    flex-direction: column;
    gap: 5px;
  }

  .actionButton {
    padding: 4px 6px;
    font-size: 12px;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pageItem {
    margin: 2px 0;
  }

  .pageLink {
    padding: 3px 6px;
  }

  .actionButton{
    margin-left: 12px;
    }
  
  .editButton{
      width: 30px;
      padding: 2px;
  }
  
  .editButton span {
      display: none; 
  }
}
