.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 20px;
}

.avatar {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #070707;
    border-radius: 5px;
    padding: 10px;
    display: none;
    width: 150px;
}

.avatar:hover .dropdown-menu {
    display: block;
    background-color: #1b1b1b;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.dropdown-menu ul li {
    margin-bottom: 10px; /* Thêm khoảng cách giữa các mục */
}

.dropdown-menu ul li:first-child {
    margin-bottom: 10px; /* Tăng khoảng cách cho mục đầu tiên */
}

.dropdown-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

