.crudUserContainer {
  width: 90%;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  list-style-type: none;
  padding: 0;
}

.pageItem {
  margin: 0 2px;
}

.pageLink {
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.pageItem.active .pageLink {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

li::marker {
  content: none;
}

.tableContainer {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.tableHeader {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Light gray background */
  z-index: 1;
}

.searchInput {
  width: 200px;
  margin-right: 10px;
  padding: 8px 15px; /* Adjusted padding */
  border: 1px solid #ced4da; /* Lighter border color */
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #24c74a; 
  color: #fff;
  font-size: 18px; 
  margin-left: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: center;
  padding: 12px; /* Increased padding */
}

.table th {
  background-color: #b20e0e; /* Dark red header */
  color: white; /* White text */
}

.actions {
  display: flex;
  gap: 10px;
}

.actionButton {
  display: inline-block;
  padding: 8px 12px; /* Adjusted padding */
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.editButton {
  background-color: #0056b3; /* Blue edit button */
  color: #fff;
  border: 1px solid transparent; /* Transparent border */
}

.editButton:hover {
  background-color: #003f7f; /* Darker blue on hover */
}

.deleteButton {
  background-color: #ff0000; /* Red delete button */
  color: #fff;
  border: 1px solid transparent; /* Transparent border */
}

.deleteButton:hover {
  background-color: #a71d2a; /* Darker red on hover */
}
