.task-title {
    white-space: nowrap; /* Ngăn tiêu đề task bị ngắt dòng */
    overflow: hidden; /* Ẩn phần vượt quá giới hạn */
    text-overflow: ellipsis; /* Thêm dấu ... khi vượt quá giới hạn */
    max-width: 100px; /* Đặt chiều rộng tối đa cho tiêu đề task */
}

.task-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.task-list-table {
    width: 90%;
    margin: 0 auto; /* Để căn giữa bảng theo chiều ngang */
    border-collapse: collapse; /* Sử dụng border-collapse: collapse để loại bỏ các đường line giữa các ô */
}

.task-list-table th,
.task-list-table td {
    text-align: center;
    padding: 8px;
    border: none; /* Loại bỏ border cho tất cả các ô */
}

.task-list-table th {
    background-color: #f2f2f2;
}

.task-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.task-list-table tbody tr:hover {
    background-color: #ddd;
}


.actions {
    display: flex; /* Hiển thị các phần tử trên cùng một dòng */
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 10px;
}

.add-task-button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto; /* Để thanh tìm kiếm tự điều chỉnh độ rộng */
    margin-right: 10px; /* Tạo khoảng cách giữa nút và thanh tìm kiếm */
}
