.App{
    text-align: center;
    margin-top: 150px;
}

.btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

.displayflex{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.positionabsolute{
    position: absolute;
}