@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px;
}

.btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

.app {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia layout thành hai cột bằng tỷ lệ 1:1 */
    gap: 20px; /* Khoảng cách giữa các phần tử */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.initializing {
    font-size: 24px;
    font-weight: bold;
    grid-column: span 2;
}

.videoContainer {
    position: relative;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 640px;
    margin: auto;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.userInfoContainer {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.userInfoContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.userInfoContainer p {
    margin: 0;
    font-size: 18px;
    align-self: flex-start;
}

