.crudDepartmentContainer {
  position: relative;
  width: 90%;
  margin: 20px auto;
}

.tableContainer {
  max-height: 500px;
  overflow-y: auto;
}

.tableHeader {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

.searchInput {
  width: 200px;
  margin-right: 10px;
  padding: 8px 15px;
  border: 1px solid #ced4da;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #28a745;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.departmentTable {
  width: 100%;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1;
}

.tableBody {
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.actionButton {
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.editButton {
  background-color: #004d9f;
  color: #fff;
  border: 1px solid transparent;
}

.editButton:hover {
  background-color: #0079fb;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: 1px solid transparent;
}

.deleteButton:hover {
  background-color: #c82333;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  list-style-type: none;
  padding: 0;
}

.pageItem {
  margin: 0 2px;
}

.pageLink {
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.pageItem.active .pageLink {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pageItem.active .pageLink,
.pageLink.activeLink {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.createFormOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  width: 100%;
}

.createForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff0000;
}

@media (max-width: 769px) {
  .crudDepartmentContainer {
    width: 95%;
    margin: 10px auto;
  }

  .searchInput,
  .addButton  {
    width: 150px;
    margin-right: 5px;
    padding: 6px 10px;
    height: 40px;
  }

  .addButton {
    width: 50px;
    font-size: 16px;
  }

  .tableHeader, .tableBody {
    font-size: 14px;
  }

  .actionButton {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .crudDepartmentContainer {
    padding: 5px;
  }

  .searchInput {
    width: 100px;
    margin-right: 2px;
    padding: 5px 8px;
  }

  .addButton {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-left: 3px;
  }

  .tableHeader,
  .tableBody {
    font-size: 12px;
  }

  .actionButton {
    padding: 6px;
    font-size: 0; 
  }

  .actionButton .FaEdit,
  .actionButton .FaTrash {
    font-size: 16px; 
  }
}
